<!DOCTYPE html>
<html>

<head>
    <title>Imagens da Pasta</title>

    <style>
        .responsive-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            /* para centralizar a imagem caso ela seja menor que o contêiner */
        }

        li {
            list-style: none;
            margin-bottom: 20px;
            /* para dar um espaço entre as imagens */
        }

        .image-container {
            display: flex;
            align-items: center;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function purchaseImages() {
            const data = $('form').serialize();
            $.post("/purchase_images", data, function (response) {
                if (response.redirect_url) {
                    window.location.href = response.redirect_url; // Redireciona para a URL de pagamento
                } else {
                    alert("Erro ao criar preferência de pagamento.");
                }
            });
        }
    </script>

</head>

<body>

    <form action="/purchase_images" method="post">
        <ul>
            {% for image in images %}
            <li class="image-container">
                <input type="checkbox" name="selected_images" value="{{ image.id }}">
                <img src="https://drive.google.com/uc?export=view&id={{ image.id }}" alt="{{ image.name }}"
                    class="responsive-image">
            </li>
            {% endfor %}
        </ul>

        <input type="text" name="phone_number" placeholder="Digite o número de telefone" required>
        <input type="email" name="email_address" placeholder="Digite o seu e-mail" required>


        <!-- Botão para copiar as imagens -->
        <input type="submit" formaction="/copy_selected_images" value="Copiar Imagens Selecionadas">

        <!-- Botão para comprar as imagens (modificado) -->
        <button type="button" onclick="purchaseImages()">Comprar Imagens Selecionadas</button>


    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>

</html>